@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf');
}

*
{
    font-family: 'Raleway', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body, html {
    margin: 0 auto;
    height:100%;
    overflow-x: hidden;
    }

body {
    min-height: 100%;
    /* overflow: hidden; */
}

.content-body {
    padding-bottom: 2em;
}

#reservia-header {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}
.mainLogo {
    margin-top: 2em;
    width:5em;
}

#mainmenu {
    margin-top: 2em;
    padding-right: 2em;
    margin-left: auto;  
    white-space: nowrap;
}

.menu ul {
    list-style-type: none;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    font-size: 0.9rem;
}

#mainmenu li a { 
    color:black; 
    font-weight: bold;
    font-size: 0.9em;
    list-style-type: none; 
    text-decoration:none; 
    border-top: 2px solid #F2F2F2; 
    padding: 2em;
}

#mainmenu li a:hover {
    color: #DEEBFF;
}

#mainmenu li a.active{
    color: #0065FC; 
    border-top: 2px solid #0065FC; 
}

#inscription-link {
    margin-top: 2em;
}

#inscription-link a {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration:none; 
    color: #0065FC;
    position:relative;
    right:0;
    top:0;
}

.content-body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    font-size: 1.3em;
    margin-bottom: 0em;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    margin: 0em;
    margin-left:0em;
}

.content-body p {
    margin-top: 0.5em;
}

.searchlocation-menu {
    height:3em;
    width:200em;
    margin-top: 1.5em;;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.searchlocation-icone {
    background-color: #F2F2F2;
    height:3em;
    width:3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.icones {
    width: 0.8em;
    background: transparent;
}

.searchlocation-text {
    border: 1px solid #F2F2F2;
    height:3em;
    width:15em;
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    align-items: center;
    font-weight: bold;
}

.input-text {
    border: none;
    width:90%;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    align-items: center;
    font-weight: bold;
}

.input-text:focus {
    outline:none
}

button {
    border: none;
    background-color:transparent;
    font-weight: bold;
    outline: none;
}

.submit-button {
    border: none;
    background-color:transparent;
    font-weight: bold;    
    color:white;
    font-size: 0.9em;
}

.searchlocation-button {
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    height:3em;
    width:6em;
    display: flex;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    font-weight: bold;
    color:white
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.filters-title {
    font-weight:bold;
    font-size: 1.1em;
    margin-right: 2em;
    margin-top: 1.5em;
}

.button-filter {
    height: 3.1em;
    background:#ffffff;
    border: 2px solid #e4e1e1;
    border-radius: 2em;
    padding-left: 3.5em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    align-content: flex-start;
    font-weight: bold;
    font-size: 1em;
    margin-right: 1em;
    margin-top: 1em;
    cursor:pointer;
    position: relative;
}

.button-filter-icon {
    width: 2.85em;
    height: 2.85em;
    position: absolute;
    left: -0.1em;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
}

.filter-icones {
    width: 1.3em;
    filter: invert(28%) sepia(64%) saturate(5410%) hue-rotate(210deg) brightness(99%) contrast(109%);
    position: absolute;
}

.button-filter:hover, .button-filter.active {
    display:flex;
    flex-direction: row-reverse;
    background-color: #0065FC;
    color: white;
    padding-left: 1em;
    padding-right: 3.5em;
  }

.button-filter:hover .button-filter-icon,  .button-filter.active span {
    position: absolute;
    left: auto;
    right:-0.65em;
  }

.info-nbresults {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:1.5em;
}

.info-nbresults-icones-img {
    width: 0.8em;
    height: 0.8em;
    filter: invert(28%) sepia(64%) saturate(5410%) hue-rotate(210deg) brightness(99%) contrast(109%);
}

.info-nbresults-icones {
    width: 1.5em;
    height: 1.5em;
    border: 1.5px solid #e4e1e1;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.info-nbresults-text {
    margin-top: 2em;
    margin-left: 0.8em ;
}

.main-content {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-article {
    display:block;
}

.hebergement-section, .top-hebergement-section  {
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 65%;
    margin-bottom: 2em;
}

.top-hebergement-section {
    max-width: 25%;
  }

.articles-hebergement-section, .articles-top-hebergement-section {
    display:flex;
    justify-content: space-between;
    align-items:stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.hebergement-section h1, .top-hebergement-section h1, .activite-section h1 {
    margin: 0;
    padding-left: 0.3em;
    text-decoration: none;
    font-weight:bold;
}

.hebergement-section button {
    margin-top: 1.8em;
    color:inherit;
    align-self: flex-start;
    justify-self: flex-start;
    text-align: left;
    width: 8em;
    font-size:1.1em;
    cursor: pointer;
}

.item-hebergement-section, .item-top-hebergement-section {
    text-decoration: none;
    color:inherit;
}
.item-hebergement-section {
    flex: 0 1 31%;
}

.item-top-hebergement-section {
    flex: 0 1 100%;
}

.item-activite-section {
    flex: 0 1 23%;
    }

.header-top-hebergement-section, .header-hebergement-section, .header-activite-section {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5em;
}

.icone-top-hebergement {
    width: 1.3em;
}

.hebergement-article {
    background-color: white;
    border-radius: 1em;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:0.2em;
    margin:0em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 4px 4px 8px #e4e1e1;
}

.top-hebergement-img img {
    border-radius: 1em 0 0 1em;
    height:8em;
    width:8em;
    object-fit: cover;
    order:-3;
    vertical-align: middle;
}
    /* border-radius: 1em 0 0 1em;
    object-fit: cover;
    order:-3;
    width: 100%;
    height:100%;
    max-width:10em;
    vertical-align: middle;
} */

.top-hebergement-article {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.top-hebergement-description {
    width:100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.hebergement-description p, .hebergement-description h2, .activite-description h2,  .hebergement-description ol {
    margin:0em;
    margin-top:0.5em;
    margin-bottom:0em;
    margin-left: 0.5em;
    text-decoration: none;
    overflow-wrap: normal;
    font-size: 0.8em;
}

.hebergement-description h2, .activite-description h2 {
    font-size: 0.9em;
}

.hebergement-img  img {
    border-radius: 1em 1em 0 0;
    height:7em;
    width:100%;
    min-width: 5em;
    object-fit: cover;
    order:-3;
    vertical-align: middle;
}

.note-stars {
    padding-left: 0em;
}

.hebergement-description {
    font-size: 0.9em;
}

.activite-description {
    padding-left: 1em;
    padding-bottom: 1em;
}

.hebergement-description li {
    background-image: url("images/icones/star-solid.svg");
    vertical-align: top;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
}

.star-full, .star-empty {
    background-image: url("images/icones/star-solid.svg");
    vertical-align: top;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
}

.star-full {
    filter: invert(28%) sepia(64%) saturate(5410%) hue-rotate(210deg) brightness(99%) contrast(109%);
}

.star-empty {
    filter: invert(97%) sepia(3%) saturate(73%) hue-rotate(277deg) brightness(90%) contrast(90%);
}


/* .item-top-hebergement-section:nth-child(n+3):nth-last-child(n) {
    width:100%;
  } */


/* .item-hebergement-section:first-child {
    flex: 1 1 100%;
  }

.item-hebergement-section:last-child {
    flex: 1 1 100%;
  }

.item-hebergement-section:not(:first-child):not(:last-child) {
    flex: 0 1 31%;
    width:100%;
  } */

.articles-activite-section {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 24.5em;
}

.activite-section {
    background-color: transparent;
    border-radius: 1em;
    padding: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
}

.activite-img  img {
    border-radius: 1em 1em 0 0;
    width:16em;
    object-fit: cover;
    order:-1;
    vertical-align: middle;
}

/* .item-activite-section:not(:first-child) {
    flex: 1 1 20%;
    width:20%;
    max-height:6em;
  }

.item-activite-section:nth-child(n):not(:first-child) {
    flex: 1 1 20%;
    max-width:20%;
    max-height:12em;
  }  */

.activite-article {
    background-color: white;
    border-radius: 1em;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:0em;
    margin:0em;
    margin-top: 1em;
    box-shadow: 4px 4px 8px #e4e1e1;
    width:16em;
}

.item-activite-section:first-child img, .item-activite-section:nth-child(4) img {
    height:21em;
  }

.item-activite-section:nth-child(2) img {
    height:9.5em;
  }

.item-activite-section:nth-child(3) img {
    height:6em;
  }

.item-activite-section:nth-child(5) img {
    height:7em;
  }

.item-activite-section:last-child img {
    height:8.5em;
  }

.item-activite-section {
    text-decoration: none;
    color:inherit;
}

footer {
    background-color: #F2F2F2;
    padding:2.5em;
    width: 100%;
}

.reservia-footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.reservia-footer ul {
    padding-left:0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    padding-right: 6em;
}

.category-footer  {
    margin:0em;
    margin-bottom: 1em;
    text-decoration: inherit;
    font-weight: bold;
    font-size: 1.1em;
}

.reservia-footer li a  {
    text-decoration: none;
    color:black;
}

.reservia-footer li  {
    margin-bottom: 0.8em;
}

/* @media  screen and (max-width: 800px) { 


    #reservia-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #mainmenu {
        order: 1;
        padding-right: 0em;
        margin-left: none; 
        flex-basis: 100%;
        margin-top: 1.5em;
        margin-left: none;  
        white-space:nowrap;
    }

    .menu ul {
        display:flex;
        justify-items: normal;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width:100%;
    }
    
    .menu li {
        display: inline-block;
        text-align: center;
        width:50%;
        padding:1em;
        border-bottom: 2px solid #F2F2F2; 
    }

    #mainmenu li.active {
        border-bottom: 2px solid #0065FC; 
    }

    #mainmenu li a {
        border: none; 
        padding: 0.5em;
    }
    
    #mainmenu li a.active{
        border: none; 
    }

    .reservia-footer { 
        position: relative;
        bottom:auto;
        left:auto;
        height:auto;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        flex-wrap: wrap;
     }
     .reservia-footer ul { 
        padding-right:0em;
        display: inline-block;
     }

     .content-body {
        padding-bottom: 0px;
    }
  }
  
.reservia-footer ul {
    padding-left:0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    padding-right: 6em;
}

.reservia-footer h2  {
    margin-bottom: 1.3em;
}

.reservia-footer li a  {
    text-decoration: none;
    color:black;
}

.reservia-footer li  {
    margin-bottom: 0.8em;
} */

@media all and (max-device-width: 480px) {


    body, html {
        margin: inherit;
        height:100%;
        overflow-x: hidden;
        max-width: 480px;
        }

    #reservia-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 480px;
    }

    #mainmenu {
        order: 3; 
        margin-top: 2em;
        min-width:100%;
    }

    .mainLogo {
        width:5em;
        padding-left: 2em;
    }

    .submit-button {
        background-color: transparent;
        background:url("images/icones/search-solid.svg") no-repeat center center;
        filter: invert(100%) sepia(3%) saturate(73%) hue-rotate(277deg) brightness(90%) contrast(90%);
        color:transparent;
    }

    .searchlocation-button {
        border-radius: 10px 10px 10px 10px;
        height:3em;
        width:2em;
        position:relative;
        left: -1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        align-items: center;
        font-weight: bold;
    } 

    #inscription-link {
        padding-right: 2em;
    }    

    .filters-title {
        width:100%
    }

    .reservia-footer { 
        position: relative;
        bottom:auto;
        left:auto;
        height:auto;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        flex-wrap: wrap;
     }

     .reservia-footer ul { 
        padding-right:0em;
        display: inline-block;
     }

     .content-body {
        max-width: 480px;
        padding-bottom: 0px;
    }

    #reservia-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }

    #mainmenu {
        order: 1;
        padding-right: 0em;
        margin-left: none; 
        flex-basis: 100%;
        margin-top: 1.5em;
        margin-left: none;  
        white-space:nowrap;
    }

    .menu ul {
        display:flex;
        justify-items: normal;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width:100%;
    }
    
    .menu li {
        display: inline-block;
        text-align: center;
        width:50%;
        padding:1em;
        border-bottom: 2px solid #F2F2F2; 
    }

    #mainmenu li.active {
        border-bottom: 2px solid #0065FC; 
    }

    #mainmenu li a {
        border: none; 
        padding: 0.5em;
    }
    
    #mainmenu li a.active{
        border: none; 
    }

    .reservia-footer { 
        max-width: 480px;
        position: relative;
        bottom:auto;
        left:auto;
        height:auto;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        flex-wrap: wrap;
     }

     .reservia-footer ul { 
        padding-right:0em;
        display: inline-block;
     }

     .content-body {
        padding: 0em;
    }
    
    .zone-recherche-body {
        padding:1em;
    }

.hebergement-section, .top-hebergement-section, .activite-section {
        background-color: transparent;
        background-clip: padding-box;
        border-radius: inherit;
        margin:0em;
        padding: 2em;
        display:block;
        max-width:100%;
        width:100%;
        /* justify-content: space-between;
        align-items:flex-start;
        flex-direction: row; */
        /* flex-wrap: wrap; */
    }

.top-hebergement-section {
        order:-1;
        background-color: hsl(0, 0%, 95%);
    }

.item-hebergement-section {
    flex: 0 1 100%;
    }

.item-activite-section img, .item-activite-section  {
    flex: 0 1 100%;
    height: 10em;
    width: 100%;
    }

.articles-activite-section {
    height:inherit;
}

.activite-article {
    width: 100%;
}

}