/* font family parameter */
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf');  
}

/* general css */
*
{
    font-family: 'Raleway', Arial, sans-serif;
    -webkit-font-smoothing: antialiased; 
    /* CSS property for webkit based browsers on MacOS (to display bold font properly on Chrome MacOS)
    https://stackoverflow.com/questions/37793086/why-is-the-font-style-bold-not-correctly-applied-in-chrome-on-this-website */
}

body, html {
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
    background-color: #F2F2F2;
    padding: 2.5rem;
    width: 100%;
}

a {
    text-decoration: none; 
    color: inherit;
}

ul {
    list-style-type: none; 
}

nav {
    margin-top: 2rem;
    margin-left: auto;
    padding-right: 2rem;  
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 0rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    margin: 0rem;
    padding-right: 0.2rem;
}

h3 {
    font-size: 0.9rem;
    margin: 0rem;
}

button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    outline: none;
}

.mainLogo {
    width: 5rem;
    margin-top: 2rem;
}

/* nav ul with font-size 0 to have no space between li */
nav ul {
    font-size: 0;
}

nav li a { 
    padding: 1.5rem;
    color: rgb(87, 79, 79); 
    font-weight: bold;
    font-size: 0.9rem;
    border-top: 2px solid #F2F2F2; 
}

nav li a:hover {
    color: #DEEBFF;
}

nav li a.active{
    color: #0065FC; 
    border-top: 2px solid #0065FC; 
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    font-size: 0.9rem;
}

.inscription-link {
    margin-top: 2rem;
}

.inscription-link a {
    position: relative;
    right: 0;
    top: 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #0065FC;
}

.content-body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.content-body p {
    margin-top: 0.5rem;
}

.searchlocation-menu {
    height: 3rem;
    margin-top: 1.5rem;;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.searchlocation-icone {
    background-color: #F2F2F2;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.icones {
    width: 0.8rem;
    background: transparent;
}

.searchlocation-text {
    border: 1px solid #F2F2F2;
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    align-items: center;
    font-weight: bold;
}

.input-text {
    border: none;
    width: 85%;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    align-items: center;
    font-weight: bold;
}

.input-text:focus {
    outline: none
}

.submit-button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;    
    color: white;
}

.searchlocation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    width: 6rem;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    color: white;
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.filters-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.button-filter {
    display: flex;
    align-items: center;
    align-content: flex-start;
    position: relative;
    height: 3.1rem;
    background: #ffffff;
    border: 2px solid #e4e1e1;
    border-radius: 2rem;
    padding-left: 3.5rem;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.button-filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -0.1rem;
    margin-right: .5rem;
    width: 2.85rem;
    height: 2.85rem;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 2rem;
}

.filter-icones {
    position: absolute;
    width: 1.3rem;
    filter: invert(28%) sepia(64%) saturate(5410%) hue-rotate(210deg) brightness(99%) contrast(109%);

}

.button-filter:hover, .button-filter.active {
    display:flex;
    flex-direction: row-reverse;
    background-color: #0065FC;
    color: white;
    padding-left: 1rem;
    padding-right: 3.5rem;
  }

.button-filter:hover .button-filter-icon,  .button-filter.active span {
    position: absolute;
    left: auto;
    right:-0.65rem;
  }

.info-nbresults {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:1.5rem;
}

.info-nbresults-icones-img {
    width: 0.8rem;
    height: 0.8rem;
    filter: invert(28%) sepia(64%) saturate(5410%) hue-rotate(210deg) brightness(99%) contrast(109%);
}

.info-nbresults-icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1.5px solid #e4e1e1;
    border-radius: 2rem;
}

.info-nbresults-text {
    margin-top: 2rem;
    margin-left: 0.8em ;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link-article {
    display: block;
}

.section  {
    background-color: transparent;
    border-radius: 1rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

.section-hebergements {
    max-width: 60%;
    background-color: #F2F2F2;
}

.section-top-hebergements {
    max-width: 25%;
    background-color: #F2F2F2;
}

.section-activites {
    max-width: 100%;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.section-title {
    margin: 0;
    padding-left: 0.3rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.section-icone-top-hebergements {
    width: 1.3rem;
}

.section-articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.articles-activite-section {
    flex-direction: column;
    height: 24.5rem;
    width:100%;
}

.section-hebergements button {
    align-self: flex-start;
    justify-self: flex-start;
    text-align: left;
    width: 10rem;
    margin-top: 1.8rem;
    color: inherit;
    font-size: 1.1rem;
    cursor: pointer;
}

.item-hebergement-section {
    flex-basis: 31%;
}

.item-top-hebergement-section {
    flex-basis: 100%;
}

.item-activite-section {
    flex-basis: 23%;
    max-width: 23%;
}

.hebergement-article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.2rem;
    margin: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px #e4e1e1;
}

.top-hebergement-img img {
    border-radius: 1em 0 0 1rem;
    height: 8rem;
    object-fit: cover;
    order: -3;
    vertical-align: middle;
}

.top-hebergement-article {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.hebergement-description {
    font-size: 0.9rem;
}

.activite-description {
    padding: 0rem 1rem 1rem 1rem;
}

.top-hebergement-description {
    width: 100%;
    min-height: 8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hebergement-description p, .hebergement-description h2, .activite-description h2 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    overflow-wrap: normal;
    font-size: 0.8rem;
}

.hebergement-description h2, .activite-description h2 {
    font-size: 0.9rem;
}

.hebergement-img, .top-hebergement-img {
    width: 100%;
}

.hebergement-img  img {
    border-radius: 1em 1em 0 0;
    height: 7rem;
    width: 100%;
    min-width: 5rem;
    object-fit: cover;
    order: -3;
    vertical-align: middle;
}

.note-stars {
    padding-left: 0rem;
    white-space: nowrap;
    margin-bottom:0rem;
    margin-top: auto;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-wrap: normal;
    font-size: 0.8rem;
}

.hebergement-description li {
    background-image: url("images/icones/star-solid.svg");
    vertical-align: top;
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    background-repeat: no-repeat;
}

.star-full, .star-empty {
    background-image: url("images/icones/star-solid.svg");
    vertical-align: top;
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    background-repeat: no-repeat;
}

.star-full {
    filter: invert(28%) sepia(64%) saturate(5410%) hue-rotate(210deg) brightness(99%) contrast(109%);
}

.star-empty {
    filter: invert(97%) sepia(3%) saturate(73%) hue-rotate(277deg) brightness(90%) contrast(90%);
}

.activite-img  img {
    object-fit: cover;
    order: -1;
    vertical-align: middle;
    border-radius: 1em 1em 0 0;
    width: 100%;
}

.activite-article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.1rem;
    margin-top: 1rem;
    padding: 0rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px #e4e1e1;
}

/* height value of img activities depending on the position of articles in the section */
.item-activite-section:first-child img, .item-activite-section:nth-child(4) img {
    height: 21rem;
  }

.item-activite-section:nth-child(2) img {
    height: 9.5rem;
  }

.item-activite-section:nth-child(3) img {
    height: 6rem;
  }

.item-activite-section:nth-child(5) img {
    height: 7rem;
  }

.item-activite-section:last-child img {
    height: 8.5rem;
  }

/* footer default css properties */

.reservia-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.reservia-footer ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0rem;
    padding-right: 6rem;
}

.category-footer  {
    margin: 0rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.reservia-footer li a  {
    color: black;
}

.reservia-footer li  {
    margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px) and (max-width: 991px)  {
    .section-hebergements, .section-top-hebergements {
        max-width: 100%;
        background-color: #F2F2F2;
    }
    
    .section-top-hebergements {
        order: -1;
        max-width: 100%;
        background-color: #F2F2F2;
    }

    .item-top-hebergement-section {
        flex-basis: 31%;
    }

    .top-hebergement-article {
        flex-direction: column;
        height: 14rem;
    }

    .top-hebergement-img  img {
        border-radius: 1em 1em 0 0;
    }

    .top-hebergement-description {
        min-height: 6rem;
    }

    .reservia-footer {
        flex-wrap:nowrap;
    }
}

/* media query for max-width 767px */
@media screen and (max-width: 767px)  {

    body, html {
        margin: inherit;
    }

    header {
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: inherit;
        padding-left: 0;
        padding-right: 0;
    }

    footer {
        padding-left: 1rem;
    }
    nav {
        order: 1;
        padding-right: 0rem;
        margin-left: 0; 
        flex-basis: 100%;
        margin-top: 1.5rem; 
    }

    .mainLogo {
        padding-left: 2rem;
    }

    nav li.active {
        border-bottom: 2px solid #0065FC; 
    }

    nav li a {
        border: none; 
        padding: 0.5rem;
    }

    nav li a.active{
        border: none; 
    }

    .submit-button {
        background: url("images/icones/search-solid.svg") no-repeat center center;
        filter: invert(100%) sepia(3%) saturate(73%) hue-rotate(277deg) brightness(90%) contrast(90%);
        color: transparent;
    }

    .searchlocation-text {
        width: 80%;
    }

    .searchlocation-button {
        border-radius: 10px 10px 10px 10px;
        width: 2rem;
        position: relative;
        left: -0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    } 

    .inscription-link {
        padding-right: 2rem;
    }    

    .filters-title {
        width: 100%
    }

    .content-body {
        max-width: inherit;
        padding-bottom: 0px;
        padding: 0rem;
    }

    .zone-recherche-body {
        padding: 1rem;
    }

    .menu ul {
        display: flex;
        justify-items: normal;
        width: 100%;
    }

    .menu li {
        text-align: center;
        width: 50%;
        padding: 1rem;
        border-bottom: 2px solid #F2F2F2; 
    }

    .section-hebergements, .section-top-hebergements, .section-activites {
        max-width: 100%;
        width: 100%;
        margin: 0rem;
        padding: 2rem 1rem 2rem 1rem;
        background-color: transparent;
        background-clip: padding-box;
        border-radius: inherit;
    }

    .section-top-hebergements {
        order: -1;
        background-color: hsl(0, 0%, 95%);
    }

    .top-hebergement-img img {
        height: 9em;
    }

    .item-hebergement-section {
        flex-basis: 100%;
    }

    .item-activite-section, .activite-img, .hebergement-img  {
        max-width: 100%;
        width: 100%;
    }

    .item-activite-section:first-child img, .item-activite-section:last-child img,
    .item-activite-section:nth-child(2) img , .item-activite-section:nth-child(3) img,
    .item-activite-section:nth-child(4) img, .item-activite-section:nth-child(5) img {
        height: 8rem;
    }

    .articles-activite-section {
        height: inherit;
    }

    .reservia-footer {
        justify-content: flex-start;
        flex-direction: column; 
        position: relative;
        bottom: auto;
        left: auto;
        height: auto;
        max-width: 480px;
        margin-left: 1em;
    }

    .reservia-footer ul { 
        display: inline-block;
        padding-right: 0rem;
    }

}